<div class="row footer">
  <div class="col-xs-12 col-sm-7">
    &copy; {{ site.time | date: "%Y" }} Bottled Software GmbH<br />
    <a href="/impressum/">Impressum</a>
    <a href="/datenschutz/">Datenschutz</a>
  </div>
  <div class="col-xs-12 col-sm-5">
    <div class="share-buttons">
      <div class="fb-like" data-href="https://www.facebook.com/123tanken" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</div>
