<div class="header">
	<ul class="nav nav-pills pull-right">
		<li{% if include.navpill == 'index' %} class="active"{% endif %}><a href="/">Home</a></li>
		{% comment %}
		<li{% if include.navpill == 'blog' %} class="active"{% endif %}><a href="/blog/">Blog</a></li>
		{% endcomment %}
		<li{% if include.navpill == 'services' %} class="active"{% endif %}><a href="/services/">Services</a></li>
		<li{% if include.navpill == 'presse' %} class="active"{% endif %}><a href="/presse/">Presse</a></li>
	</ul>
	<h3 class="text-muted logo"><a href="/"><img src="/images/app_icon.png" id="logo-nav-bar" alt="1-2-3 Tanken Logo"/>1-2-3 Tanken</a></h3>
</div>